
*{
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to right,#009ffd,#000000);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body {
  margin: 0;
  line-height: normal;
}
body { /* set a light and pleasant background color */
  color: #fc7600; /* set a darker text color */
  font-family: Arial, sans-serif; /* set a font family */
}
h1{
  color: #4b4b4b
}

h2, h3 {
  color: rgb(245, 237, 90); /* set a vibrant heading color */
}



img {
  max-width: 100%;
  height: auto;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out; /* add transform and opacity transitions */
}

img:hover {
  transform: scale(1.1); /* scale the image on hover */
  opacity: 0.8; /* lower the opacity on hover */
}

